@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Variables */
:root {
    --background: #fff;
    --primary-accent: #87ceeb;
    --secondary-accent: #f2f2f2;
    --text-color: #333;
    --highlight-color: #fffacd;
}

/* Global Styles */
* {
    color: var(--text-color);
    font-family: "Funnel Sans", sans-serif;
}

/* Layout Styles */
header {
    background: linear-gradient(to bottom, var(--primary-accent), var(--background));
    padding: 2em;
}

main {
    margin-top: 2em;
    padding: 0 1em 0 1em;
}

/* Component and Section Styles */

h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 1em;
}

h2 {
    border-bottom: 2px solid var(--highlight-color);
    padding-bottom: .5em;
    margin-bottom: 1em;
    font-weight: 600;
}

p {
    background-color: var(--secondary-accent);
    padding: 1em;
}

ul {
    background-color: var(--secondary-accent);
    padding:1em;
}

li {
    list-style: none;
    font-size:1.1em;
}

.color-item {
    display:flex;
    align-items:center;
    margin-bottom:0.5em;
}

.color-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right:10px;
}

.color-item[data-color="background"]::before {
    background-color: var(--background);
}

.color-item[data-color="text-color"]::before {
    background-color: var(--text-color);
}

.color-item[data-color="primary-accent"]::before {
    background-color: var(--primary-accent);
}

.color-item[data-color="secondary-accent"]::before {
    background-color: var(--secondary-accent);
    border: 2px solid white;
}

.color-item[data-color="highlight-color"]::before {
    background-color: var(--highlight-color);
}

.wireframe-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    justify-items: center;
}

.wireframe-mobile h2 {
    grid-column: 1 / 5;
}

img {
    max-width: 110px;
    height: auto;
}

/* Section: Additional components and states can be added below this line */