/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: clamp(14px, 1vw, 18px);
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: var(--background);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 5rem;
}

/* Variables */
:root {
    --background: #fff;
    --primary-accent: #87ceeb;
    --secondary-accent: #f2f2f2;
    --text-color: #333;
    --highlight-color: #fffacd;
}

/* Layout Sections */
header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Add a high z-index to bring it above other elements */
}

header .bottom-nav {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

header .bottom-nav a {
    background-color: #333;
    color: #fff;
    width: 5rem;
    height: 5rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: linear-gradient(to bottom, var(--primary-accent), var(--background));
    padding: 2rem;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    margin: 1em 0;
}

/* Component Styles */

h2 {
    border-bottom: 2px solid var(--primary-accent);
    padding-bottom: .5em;
    margin-bottom: 1em;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

nav a:hover {
    background-color: #ddd;
}

main div h1 {
    max-width:800px;
    margin: 0 auto;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

#search-bar, button#search-button {
    height: 44px;
    margin-top: 1em;
}

#search-results {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-height:200px;
}

#search-results p {
    margin: 0.5rem 0;
}

.fa-cloud {
    color: var(--highlight-color);
}

/* History */
li {
    list-style: none;
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius:4px;
    padding: 1em;
    background-color:#f9f9f9;
}

/* Blog Posts Layout */
.blog-posts {
    display: grid;
    grid-template-columns: repeat(2, 20em);
    justify-content:center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 800px;
}

.blog-posts > * {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.blog-posts h2 {
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.blog-posts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-posts .paris-container,
.blog-posts .dubai-container,
.blog-posts .rome-container,
.blog-posts .bangkok-container,
.blog-posts .tokyo-container,
.blog-posts .london-container {
    position: relative;
    height: 100%;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .blog-posts {
        grid-template-columns: 1fr; /* Switch to single column */
    }
}

@media (min-width: 768px) {
    ul#history-list {
        display: grid;
        grid-template-columns: repeat(2, 20em);
        gap: 1em;
        justify-content: center;
    }
}