@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General */
:root {
    --lighterGreen: #29a073;
    --backgroundGreen: #71CCAA;

    /* South African Flag Colors */
    --backgroundRed: #FFD4D0;
    --saWhite: #fff;
    --saGreen: #007749;
    --saBlue: #001489;
    --saYellow: #FFb81c;
    --saBlack: #000;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight:500;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

ul {
    padding:0;
}

li {
    list-style:none;
}

* {
    margin:0;
}

html, body {
    overflow-x:hidden;
}

/* header */

/* main */

main {
    margin:0 auto;
}

body {
    margin:1em;
    background-color:var(--backgroundGreen)
}

header {
	background-color: var(--lighterGreen);
    max-width:1200px;
    padding: 1.5em 0 1.5em 0;
    margin: 0 auto;
}

header div h1 {
    color:#fff;
    text-align:center;
}

main img {
    max-width:100%;
    height:auto;
	object-fit: contain;
    margin:0 auto;
}

.data, .weather {
    background-color: var(--backgroundRed);
}

.data {
    /* border: 2px solid #333; */
    grid-area:data;
    display: grid;
	grid-template: auto / 1fr 1fr;
	grid-template-areas: "title title" "category value";
    padding:1em;
}

.data h2, .weather h2 {
    grid-area:title;
    text-align:center;
}

.weather {
    border-top: 1px solid #a0a0a0;
    grid-area:weather;
    display: grid;
	grid-template: auto / 1fr 1fr;
	grid-template-areas: "title title" "category value";
    padding:1em;
}

.category {
    text-align:right;
}

.value {
    text-align:left;
    padding-left:1em;
}

.weather img {
    grid-column: 1 / 3;
    max-height: 150px;

}

/* footer */

footer {
    background-color: #8998F8;
    padding-top:2em;
    padding-bottom:2em;
    text-align:center;
    max-width:1200px;
    margin:0 auto;
}

.footer-line {
    padding:.5em;
}